<ul class="list-unstyled">
  <% oodaposts.each do |oodapost| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(oodapost.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <p><%= link_to oodapost.title, oodapost_path(oodapost) %></p>
        </div>
        <div>
          <%= link_to oodapost.user.name, user_path(oodapost.user) %> <span class="text-muted">posted at <%= oodapost.created_at %></span>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate oodaposts %>
</ul>