<div class="main-wrapper">
  <div class="main-container">
    <div class="posts">
      <h1 class="main-title mb-5">New posts</h1>
        <div class="row">
          <% @oodaposts.each do |oodapost| %>
           <div class="offset-lg-1 col-lg-5 post-list mb-5" ontouchstart>
             <a class="post-item" href="/oodaposts/<%= oodapost.id %>">
               <div class="post-item-side">
                 <div class="post-item-image mr-2">
                   <%= image_tag oodapost.image.url, class: "post-item-image-settings", width: "200px" if oodapost.image? %>
                 </div>
               </div>
               <div class="post-item-main">
                 <p class="post-item-main-title"><%= oodapost.title %></p>
                 <p class="post-item-main_info">
                   <span class="post-item-main_info-category"><%= oodapost.user.name %></span>
                 </p>
               </div>
             </a>
           </div>
        <% end %>
        <%= paginate @oodaposts %>
      </div>
    </div>
  </div>
</div>
