<div class="row">
  <div class="col-sm-6 offset-sm-3 mt-5">

    <%= form_with(model: @oodapost, local: true) do |f| %>
    
      <div class="form-group">
        <%= f.label :title, 'テーマ'  %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :observe, '観察(Observe)' %>
        <%= f.text_area :observe, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :orient, '仮説構築(Orient)' %>
        <%= f.text_area :orient, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :decide, '意思決定(Decide)' %>
        <%= f.text_area :decide, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :act, '実行(Act)' %>
        <%= f.text_area :act, class: 'form-control' %>
      </div>
      
      <div class="custom-file mb-5">
        <%= f.label :image, '画像' %><br />
        <%= f.file_field :image, class: "image" %>
      </div>

      <%= f.submit '投稿する', class: 'btn btn-primary btn-block mb-5' %>
    <% end %>
  </div>
</div>
