<main role="main" class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8 blog-main mt-5">
      <div class="blog-post">
        <p class="blog-post-date"><%= @oodapost.created_at %></p>
        <h2 class="blog-post-title"><%= @oodapost.title %></h2>
        <p class="blog-post-meta"> CREATED by <%= link_to @oodapost.user.name, user_path(@oodapost.user) %></p>
        
        <hr class="blog-title-border">
        <br>
        <div class="article-image">
          <%= image_tag @oodapost.image.url, id: "pic1", class: "image mb-5", width: "400px" if @oodapost.image? %>
        </div>
        <h3 class="mb-4 article-title">観察(Observe)</h3>
        <p><%= @oodapost.observe %></p>
        <br>
        
        <br>
        <h3 class="mb-4 article-title">仮説構築(Orient)</h3>
        <p><%= @oodapost.orient %></p>
        <br>
        
        <br>
        <h3 class="mb-4 article-title">意思決定(Decide)</h3>
        <p><%= @oodapost.decide %></p>
        <br>
        
        <br>
        <h3 class="mb-4 article-title">実行(Act)</h3>
        <p><%= @oodapost.act %></p>
        <br>
        <hr>
        <div class="blog-button">
          <%= render 'favorites/favorite_button', oodapost: @oodapost %>
          <% if current_user.id == @oodapost.user.id %>
            <%= link_to "記事を削除する", @oodapost, method: :delete, data: { confirm: "本当に削除してもよいですか?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
        <hr>
        <li class="media mb-3">
          <div class="profile-box col-12">
            <img class="mr-2 rounded" src="<%= gravatar_url(@oodapost.user, { size: 70 }) %>" alt="">
            <div class="media-body">
              <div>
                <p><%= link_to @oodapost.user.name, user_path(@oodapost.user) %></p>
              </div>
              <div>
                <p><%= @oodapost.user.profile %></p>
                <% unless current_user.id == @oodapost.user.id %>
                  <%= render 'relationships/follow_button', user: @oodapost.user %>
                <% end %>
              </div>
            </div>
          </div>
        </li>
        <h3 class="mb-5 article-title"><i class="far fa-comment"></i> コメント一覧</h3>
        <% @comments.each do |c| %>
          <div>
            <%= c.content %>
            <hr>
          </div>
        <% end %>
        <div class="comment-position">
          <div class="form-group">
            <%= form_for [@oodapost, @comment] do |f| %>
            <%= f.text_area :content, size: "20x10", class: 'form-control textarea' %>
          <br>
            <%= f.submit 'コメントする', class: "mb-5 btn-gradient-radius" %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</main>