<div class="row pt-4">
  <aside class="offset-1 col-lg-3">
    <div class="card" style="width: 16rem;">
      <img class="rounded-circle  card-img-top" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      <div class="card-body">
        <h5 class="card-title"><%= @user.name %></h5>
        <p class="card-text"><%= @user.profile %></p>
        <% if current_user.id == @user.id %>
          <%= link_to 'プロフィールを編集する', edit_user_path, class: "btn btn-primary" %>
          <%= link_to 'ログアウト', logout_path, method: :delete, class: "btn btn-primary mt-2" %>
        <% else %>
          <%= render 'relationships/follow_button', user: @user %>
        <% end %>
      </div>
    </div>
  </aside>
  <div class="offset-1 col-sm-8 col-md-7">
    <ul class="nav nav-pills nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">投稿  <span class="badge badge-secondary"><%= @count_microposts %></span></a></li>
      <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">お気に入り  <span class="badge badge-secondary"><%= @count_likes %></span></a></li>
      <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">フォロー  <span class="badge badge-secondary"><%= @count_followings %></span></a></li>
      <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">フォロワー  <span class="badge badge-secondary"><%= @count_followers %></span></a></li>
    </ul>
    <%= render 'users', users: @followings %>
  </div>
</div>