<div class="row">
  <aside class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img class="rounded-circle  card-img-top" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      <div class="card-body">
        <h5 class="card-title"><%= @user.name %></h5>
        <p class="card-text"><%= @user.profile %></p>
        <% if current_user.id == @user.id %>
          <li><%= link_to 'プロフィールを編集する', edit_user_path %></li>
          <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
        <% else %>
          <%= render 'relationships/follow_button', user: @user %>
        <% end %>
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-pills nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">自分の投稿  <span class="badge badge-secondary"><%= @count_oodaposts %></span></a></li>
      <li class="nav-item"><a href="#" class="nav-link">お気に入り</a></li>
      <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">フォロー  <span class="badge badge-secondary"><%= @count_followings %></span></a></li>
      <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">フォロワー  <span class="badge badge-secondary"><%= @count_followers %></span></a></li>
    </ul>
    <% @oodaposts.each do |oodapost| %>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 mx-auto">
            <div class="post-preview">
              <h3 class="post-title">
                <%= link_to oodapost.title, oodapost_path(oodapost), :style=>"color:black;" %>
              </h3>
              <p class="post-subtitle">
                <%= oodapost.observe[0..10] + "..." %>
              </p>
            <%= link_to oodapost.user.name, user_path(oodapost.user) %> <span class="text-muted">posted at <%= oodapost.created_at %></span>
            </div>
            <hr>
         </div>
        </div>
      </div>
  <% end %>
  <%= paginate @oodaposts %>
  </div>
</div>