<div class="row">
  <aside class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <img class="rounded-circle  card-img-top" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      <div class="card-body">
        <h5 class="card-title"><%= @user.name %></h5>
        <p class="card-text"><%= @user.profile %></p>
        <% if current_user.id == @user.id %>
          <li><%= link_to 'プロフィールを編集する', edit_user_path %></li>
          <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'フォローする', edit_user_path %></li>
        <% end %>
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="#" class="nav-link">自分の投稿</a></li>
      <li class="nav-item"><a href="#" class="nav-link">お気に入り</a></li>
      <li class="nav-item"><a href="#" class="nav-link">フォロー</a></li>
      <li class="nav-item"><a href="#" class="nav-link">フォロワー</a></li>
    </ul>
  </div>
</div>